@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-upload-wrapper .ant-upload-select {
  display: block !important;
}

.ant-picker-dropdown {
  @media (max-width: 768px) {
    inset: 51.9333px auto auto 0px !important;
  }
}
.ant-picker-dropdown .ant-picker-panel-container {
  @media (max-width: 768px) {
    max-width: 100vw !important;
    overflow: auto !important;
    inset: 51.9333px auto auto 0px !important;
  }
}
